# Default configuration file for PSFEx 3.17.1
#
# date modified: 2018-04-04
#
#-------------------------------- PSF model ----------------------------------
 
BASIS_TYPE      PIXEL_AUTO	# NONE, PIXEL, PIXEL_AUTO, GAUSS-LAGUERRE or FILE
BASIS_NUMBER    20              # Basis number or parameter
BASIS_SCALE     1.0             # Gauss-Laguerre beta parameter
PSF_SAMPLING    0.0             # Sampling step in pixel units (0.0 = auto)
PSF_ACCURACY    0.01            # Accuracy to expect from PSF "pixel" values
PSF_SIZE        45,45           # Image size of the PSF model
PSF_RECENTER    Y               # Allow recentering of PSF-candidates Y/N ?
 
#------------------------- Point source measurements -------------------------
 
CENTER_KEYS     XWIN_IMAGE,YWIN_IMAGE # Catalogue parameters for source pre-centering
PHOTFLUX_KEY    FLUX_AUTO       # Catalogue parameter for photometric norm.
PHOTFLUXERR_KEY FLUXERR_AUTO    # Catalogue parameter for photometric error
 
#----------------------------- PSF variability -------------------------------
 
PSFVAR_KEYS     XWIN_IMAGE,YWIN_IMAGE # Catalogue or FITS (preceded by :) params
PSFVAR_GROUPS   1,1             # Group tag for each context key
PSFVAR_DEGREES  3               # Polynom degree for each group
PSFVAR_NSNAP    9               # Number of PSF snapshots per axis
 
#----------------------------- Sample selection ------------------------------
 
SAMPLE_AUTOSELECT  Y            # Automatically select the FWHM (Y/N) ?
SAMPLEVAR_TYPE     SEEING       # File-to-file PSF variability: NONE or SEEING
SAMPLE_FWHMRANGE   1.0,15.0     # Allowed FWHM range
SAMPLE_VARIABILITY 0.2          # Allowed FWHM variability (1.0 = 100%)
SAMPLE_MINSN       20           # Minimum S/N for a source to be used
SAMPLE_MAXELLIP    0.3          # Maximum (A-B)/(A+B) for a source to be used
SAMPLE_FLAGMASK    0x00fe       # Rejection mask on SExtractor FLAGS
SAMPLE_WFLAGMASK   0x0000       # Rejection mask on SExtractor FLAGS_WEIGHT
SAMPLE_IMAFLAGMASK 0x0          # Rejection mask on SExtractor IMAFLAGS_ISO
BADPIXEL_FILTER    N            # Filter bad-pixels in samples (Y/N) ?
BADPIXEL_NMAX      0            # Maximum number of bad pixels allowed
 
#----------------------------- Output catalogs -------------------------------

OUTCAT_TYPE        ASCII_HEAD   # NONE, ASCII_HEAD, ASCII, FITS_LDAC
OUTCAT_NAME        psfex_out.cat  # Output catalog filename

#------------------------------- Check-plots ----------------------------------
 
CHECKPLOT_DEV       PDF         # NULL, XWIN, TK, PS, PSC, XFIG, PNG,
                                # JPEG, AQT, PDF or SVG

# if makeplots==True in Utils/Constants_telescope.py, then the following
# checkplots are automatically produced: FWHM,ELLIPTICITY,COUNTS,
# COUNT_FRACTION, CHI2, RESIDUALS
CHECKPLOT_TYPE      NONE
                                # or NONE
CHECKPLOT_NAME      fwhm, ellipticity, counts, countfrac, chi2, resi
CHECKPLOT_ANTIALIAS Y

#------------------------------ Check-Images ---------------------------------
 
# if makeplots==True in Utils/Constants_telescope.py, then the following
# checkimages are automatically produced:
# CHI,PROTOTYPES,SAMPLES,RESIDUALS,SNAPSHOTS,BASIS
CHECKIMAGE_TYPE NONE
                                # or MOFFAT,-MOFFAT,-SYMMETRICAL
CHECKIMAGE_NAME chi.fits,proto.fits,samp.fits,resi.fits,snap.fits,basis.fits
                                # Check-image filenames
CHECKIMAGE_CUBE N               # Save check-images as datacubes (Y/N) ?
 
#----------------------------- Miscellaneous ---------------------------------
 
PSF_DIR                         # Where to write PSFs (empty=same as input)
VERBOSE_TYPE    FULL            # can be QUIET,NORMAL,LOG or FULL
WRITE_XML       N               # Write XML file (Y/N)?
XML_NAME        psfex.xml       # Filename for XML output
NTHREADS        0               # Number of simultaneous threads for
                                # the SMP version of PSFEx
                                # 0 = automatic
 
