# Default configuration file for SWarp 2.19.1
#
# date modified: 2018-12-04
#
#----------------------------------- Output -----------------------------------
IMAGEOUT_NAME    coadd.fits        # Output filename
WEIGHTOUT_NAME   coadd.weight.fits # Output weight-map filename
 
HEADER_ONLY        N               # Only a header as an output file (Y/N)?
HEADER_SUFFIX      .head           # Filename extension for additional headers
 
#------------------------------- Input Weights --------------------------------
 
WEIGHT_TYPE        NONE            # BACKGROUND,MAP_RMS,MAP_VARIANCE
                                   # or MAP_WEIGHT
WEIGHT_SUFFIX      .weight.fits    # Suffix to use for weight-maps
WEIGHT_IMAGE                       # Weightmap filename if suffix not used
                                   # (all or for each weight-map)
 
#------------------------------- Co-addition ----------------------------------
 
COMBINE            Y               # Combine resampled images (Y/N)?
COMBINE_TYPE       SUM             # MEDIAN,AVERAGE,MIN,MAX,WEIGHTED,CHI2
                                   # or SUM
 
#-------------------------------- Astrometry ----------------------------------
 
CELESTIAL_TYPE     NATIVE          # NATIVE, PIXEL, EQUATORIAL,
                                   # GALACTIC,ECLIPTIC, or SUPERGALACTIC
PROJECTION_TYPE    TAN             # Any WCS projection code or NONE
PROJECTION_ERR     0.001           # Maximum projection error (in output
                                   # pixels), or 0 for no approximation
CENTER_TYPE        ALL             # MANUAL, ALL or MOST
CENTER     00:00:00.0, +00:00:00.0 # Coordinates of the image center
PIXELSCALE_TYPE    MEDIAN          # MANUAL,FIT,MIN,MAX or MEDIAN

# PMV 2016/09/15: commented these out; these values are determined
# within zogy.py
#PIXEL_SCALE        0.4962          # Pixel scale
#IMAGE_SIZE         2048 4096       # Image size (0 = AUTOMATIC)

 
#-------------------------------- Resampling ----------------------------------
 
RESAMPLE           Y               # Resample input images (Y/N)?
RESAMPLE_DIR       .               # Directory path for resampled images
RESAMPLE_SUFFIX    _resamp.fits    # filename extension for resampled images
 
RESAMPLING_TYPE    LANCZOS3        # NEAREST,BILINEAR,LANCZOS2,LANCZOS3
                                   # or LANCZOS4 (1 per axis)
OVERSAMPLING       0               # Oversampling in each dimension
                                   # (0 = automatic)
INTERPOLATE        N               # Interpolate bad input pixels (Y/N)?
                                   # (all or for each image)
 
FSCALASTRO_TYPE    FIXED           # NONE,FIXED, or VARIABLE
FSCALE_KEYWORD     FLXSCALE        # FITS keyword for the multiplicative
                                   # factor applied to each input image
FSCALE_DEFAULT     1.0             # Default FSCALE value if not in header

GAIN_KEYWORD       GAIN            # FITS keyword for effect. gain (e-/ADU)

# PMV 2016/09/15: commented out the line below as this value is now
# taken from Constants.Imager.gain
#GAIN_DEFAULT       1.3             # Default gain if no FITS keyword found
 
#--------------------------- Background subtraction ---------------------------
 
SUBTRACT_BACK      N               # Subtraction sky background (Y/N)?
                                   # (all or for each image)
 
BACK_TYPE          AUTO            # AUTO or MANUAL
                                   # (all or for each image)
BACK_DEFAULT       0.0             # Default background value in MANUAL
                                   # (all or for each image)
BACK_SIZE          512             # Background mesh size (pixels)
                                   # (all or for each image)
BACK_FILTERSIZE    3               # Background map filter range (meshes)
                                   # (all or for each image)
 
#------------------------------ Memory management -----------------------------
 
VMEM_DIR           .               # Directory path for swap files
                                   # (RS: this will usually be on the ramdisk)
# PMV 2018/12/04: increased these three numbers from 2047, 256 and 256
VMEM_MAX           2048            # Maximum amount of virtual memory (MB)
MEM_MAX            1024            # Maximum amount of usable RAM (MB)
COMBINE_BUFSIZE    1024            # RAM dedicated to co-addition(MB)
 
#------------------------------ Miscellaneous ---------------------------------
 
DELETE_TMPFILES    Y               # Delete temporary resampled FITS files
                                   # (Y/N)?
COPY_KEYWORDS      OBJECT          # List of FITS keywords to propagate
                                   # from the input to the output headers
WRITE_FILEINFO     Y               # Write information about each input
                                   # file in the output image header?
WRITE_XML          N               # Write XML file (Y/N)?
XML_NAME           swarp.xml       # Filename for XML output
VERBOSE_TYPE       QUIET           # QUIET,NORMAL or FULL
 
NTHREADS           0               # Number of simultaneous threads for
                                   # the SMP version of SWarp
                                   # 0 = automatic
